* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1200px;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.row .button {
  flex-basis: 10%;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.input-area {
  border: 1px solid grey;
  margin-left: 425px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  width: 30%;
}
